{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un produit</h1>
    <form method="post">
    	<input type="text" name="produit">
    	<input type="submit" value="Envoyer">
    </form>
{% endblock %}